#content {
  background-color: darkred;
  width: 500px;
  padding: 15px;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
#SO {
  background-color: darkred;
  width: 500px;
  padding: 15px;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
}
